# IDE files

.vscode/
.vs/
.idea/
.eclipse/

# Haxe

*.hxproj
*.hxml
hxformat.json

# Lime

Project.xml

# Compiler output

bin/
export/
out/
build/

# Binaries

*.exe
*.dll
*.pdb
*.ndll
*.n
*.hash
*.exp
*.lib
